body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-image: url('background.jpg'); 
    background-size: cover;
    font-family: 'Outfit';
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    padding-top: 60px;
}

.poll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.poll__title {
    font-weight: bold;
    font-size: 2.75rem;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.main .poll__option:hover {
    cursor: pointer;
    background-color: #996BF9;
}

.poll__option:not(:last-child) {
    margin-bottom: 0.5rem;
}

.poll__option--selected .poll__option-fill {
    background: #996BF9;
}

.poll__option-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

.poll__option {
    align-items: center;
    display: block;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgba(140, 140, 140, 0.5);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #8C8C8C;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 250px;
    font-family: 'Outfit';
}

.poll__option--selected {
    background-color: #996BF9;
}

.poll__percentage {
    color: #8C8C8C;
    margin-left: 5px;
}

.submit-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #996BF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 248px;
    font-family: 'Outfit';
    font-size: 16px; 
}

.submit-btn:hover {
    background-color: #7e48e4;
}

h1 {
    color: #FFF;
    font-family: 'Outfit';
    text-align: center;
}

#template {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll__percentage {
    color: #FFF
}

.poll__option_result {
    position: relative;
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: space-between;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgba(140, 140, 140, 0.5);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #8C8C8C;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 250px;
    font-family: 'Outfit';
}

.poll__option_result-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #996BF9;
    border-radius: 2px;
    z-index: -1;
}

.poll__option_result-info {
    display: flex;
    align-items: center;
}
